!*.c 
!*.h
!*.cpp
   *.log
   *.plg
   *.bak
   *.dep
   *.uvgui.*
   JLinkLog.txt
   *.o
   *.d
   *.crf
   *.tra
   *.axf
   *.hex
   *.lnp
   *.sct
   *.__i
   *xbin
   *bin
   *.axf
   *.uvguix.55321
   *.htm

