!*.c 
!*.h
!*.cpp

*.log
*.plg
*.bak
*.dep
*.uvgui.*
JLinkLog.txt
*.o
*.d
*.crf
*.tra
*.axf
*.hex
*.lnp
*.sct
*.__i
*.xbin
*.bin
*.axf
*.htm
*.build_log.htm
*.55321
*.uvoptx
*.scvd
*.uvprojx
*.dbgconf
*.lst
*.map
*.iex
    


